# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# intellij files
.idea
.idea_modules/
*.ipr
*.iws
*.iml
out

settings.xml
.classpath.txt
.fullclasspath.txt

# eclipse
.project
.buildpath
.classpath
.factorypath
.settings
.checkstyle

# netbeans
nb-configuration.xml
*/nb-configuration.xml

# vscode/eclipse files
.vscode
.classpath
.project
.settings
bin/

# Local configuration file (sdk path, etc)
local.properties

# Others
*~
.DS_Store
/target
/*/target
/example/*/target
/build
/*/build
/example/*/build
/buildSrc/build
/buildSrc/subprojects/*/build

# Ignore python build files, e.g. egg-info, pycache, etc. 
*.egg-info/
__pycache__/
